<div class="container d-flex justify-content-between">
  <div class="card" style="width: 20%;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= Event.last.title %></li>
      <li class="list-group-item"><%= Event.last.sport_id %></li>
      <li class="list-group-item">Entre: <%= Event.last.min_age %> a: <%= Event.last.max_age %> años</li>
      <li class="list-group-item"><%= Event.last.note %></li>
    </ul>
  </div>

  <div class="card" style="width: 20%;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= Event.last.title %></li>
      <li class="list-group-item"><%= Event.last.sport_id %></li>
      <li class="list-group-item">Entre: <%= Event.last.min_age %> a: <%= Event.last.max_age %> años</li>
      <li class="list-group-item"><%= Event.last.note %></li>
    </ul>
  </div>

  <div class="card" style="width: 20%;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= Event.last.title %></li>
      <li class="list-group-item"><%= Event.last.sport_id %></li>
      <li class="list-group-item">Entre: <%= Event.last.min_age %> a: <%= Event.last.max_age %> años</li>
      <li class="list-group-item"><%= Event.last.note %></li>
    </ul>
  </div>
</div>
