<p id="notice"><%= notice %></p>

<h1 class="text-center">My events</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Min. age</th>
      <th scope="col">Max. age</th>
      <th scope="col">Note</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Participants</th>
      <th scope="col">Location</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.events.each do |event| %>
      <tr>
        <th scope="row"><%= event.title %></th>
        <td><%= event.min_age %></td>
        <td><%= event.max_age %></td>
        <td><%= event.note %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.participant %></td>
        <td><%= event.location&.address %></td>
        <td><%= event.status %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Min. age</th>
      <th scope="col">Max. age</th>
      <th scope="col">Note</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Participants</th>
      <th scope="col">Location</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.applicants.each do |app| %>
      <tr>
        <th scope="row"><%= app.event.title %></th>
        <td><%= app.event.min_age %></td>
        <td><%= app.event.max_age %></td>
        <td><%= app.event.note %></td>
        <td><%= app.event.start_date %></td>
        <td><%= app.event.end_date %></td>
        <td><%= app.event.participant %></td>
        <td><%= app.event.location&.address %></td>
        <td><%= app.status %></td>
        <td><%= link_to 'Show', app.event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Event', new_event_path %>
